@charset "utf-8";

.main_visual{height:578px;overflow:hidden;position:relative;}
.main_image{height:578px;overflow:hidden;position:relative;}
.main_image ul{list-style:none;width:9999px;height:578px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{list-style:none;float:left;width:100%;height:578px;}
.main_image li img{display:block;width:100%;height:578px}