/*horn*/
.horn-aside{ min-height: 3rem;overflow: hidden}
.horn-aside .horn-icon{ margin-left: 0}
.horn-aside .horn-icon>img{ width: 2rem ;position: relative;top: 0.4rem}
.horn-aside .horn-brief{ margin-left: 2.8rem ;white-space: nowrap;overflow: hidden}
.horn-auto-scroll{
    position: relative;left: 0;
}
/**/
.index-section{
    background: white;
    min-height: 100px;
    margin: 2%;
}
.index-section-title{
    padding: 5px;
}
.index-section-pic-box{
    position: relative;	
}
.index-section-pic{
    height: 100%;
    width: 100%;
	margin: auto;
	display: block;
}
.section-pic-tips-group{
    position: absolute;
    top: 0;z-index: 10;
}
.section-pic-tips{
	font-size: 16px;
    color: white;
    min-width: 3rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3)
}
.index-section-footer{
    
    padding: 5px;
    position: relative;
     color: #fd9801;
}
.section-btn-group{
    position: absolute;
    top: -1.95rem;left: 0;
}
.section-btn-group section{
    border: thin solid #333333;
    border-radius: 50%;
    float: left;
    width: 3rem;height: 3rem;
    text-align: center;
    margin-left: 1rem;
    background: white;
}
.section-btn-group section img{
    width: 1.6rem;
    vertical-align: middle;
}
.echo-img{
    min-height: 10rem;
    background: #FFF url(../images/loaading.gif) no-repeat center center;
}

/*banner轮播*/
/*.banner,.focus,.focus .bd ul li{height: 17rem;}*/
.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.focus .bd ul li{
	width: 100%;
}
.focus .hd{
	width: 100%;
	position: absolute;
	z-index: 2;
	bottom: 5px;
	text-align: center;
	margin: 0 auto;
}
.focus .hd ul li{
	font-size: 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #fff;
	cursor: pointer;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.focus .hd ul .on{
	background: #fff;
}
.focus .hd ul {
	display: block;
	text-align: center;
}
.clear{
	zoom: 1;
	clear: both;
}

.index-section{ width: 96%; display: inline-block; }
.index-section-title{ max-height: 2.6em; overflow: hidden;color:#333; } 
.active-font { color: #ff6600; }
.nav-left { margin-right: 0 !important; }
/*a{color:#5FBBE2;}*/

	.index-classify-head{
	margin-top: 30px;
    position: relative;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 8px;
    text-align: center;
	}
	.index-classify-head p{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 5px;
    padding-bottom: 1px;
    }
    .index-classify-head i{
    position: absolute;
    height: 34px;
    bottom: 0;
    width: 27px;
    }
    .index-classify-head-l{
    	left: -24px;
    }
    .index-classify-head-r{
    	left: 75px;
    }
	.index-content.classify ul li{
		float: left;
		width: 25%;
		box-sizing: border-box;
	}
	.index-content.classify ul li img{
		width: 60%;display: block;margin: 1rem auto;
	}
	.index-content.classify ul li p{
		text-align: center;margin-bottom: 1rem;
	}
	.renqijingxuan{
		margin-top: 12vw;
	}
	.goodlist-article{
		background: #f9f9f9;
	}
	.goodlist-article>a{
		width: 50%;display: inline-block;
	}
	.renqijingxuan-content-left,.renqijingxuan-content-right{
		display: inline-block;
	}
	.renqijingxuan-content-left{
		width: 45%;height: 66.67vw;background: #FF5A60;border-right: 5px solid #fff;box-sizing: border-box;
	}
	.renqijingxuan-content-right{
		width: 55%;background: lightblue;
	}
	.renqijingxuan-content-right a{
		height: 33.33vw;display: block;
	}
	.renqijingxuan-content-right a:first-child{
		border-bottom: 5px solid #fff;box-sizing: border-box;background: lightgreen;
	}
	.remenhuodong-content{
		margin: 10px;font-size: 14px;
	}
	.index-content.flash{
		margin-top: 1px;
		border-top: 15px solid #eee;
	}
	.index-content.flash ul{width:100%;display: inline;white-space: nowrap;overflow-x:scroll;float:left;overflow-y:hidden}
	.index-content.flash ul::-webkit-scrollbar{display: none;}
	.index-content.flash ul li{display:inline-block;width:24.56%;margin:0 2%;}
	.index-content.flash ul li p{
		text-align: left;
	}
	.index-content.flash ul li img{
		margin-top: 1rem;
	}
	.flash-title{
		padding: 3px 0 3px 2%;
		border-bottom: 1.5px solid #eee;
	}
	.flash-title-right{
		padding-left: 15%;
		color: #999;
	}
	.flash-end-time{
		display: inline-block;
		margin-left: 5%;
	}
	.flash-end-time span{
		color: #fff;padding: 0 3px;border-radius: 2px;background: #999;
	} 
	.header{
		padding:0.2em 3%;position: relative;background-color: #fff;
	}
	.header-logo{width: 2.5em;display: inline-block;position: absolute;padding-top: 0.2em;}
	.header-logo img{width: 100%;height: 100%;vertical-align: middle;}
	.header-user{position: absolute;right: 2%;top:0.7em;height: 60%;border-radius: 5px;}
	.header-user i{text-align: center;display: inherit;padding-top: 0.5em;}
	.header-user p{padding: 0 0.2em;}
	.header-user svg{width: 2.1em;height: 2.1em;}
	.header-title{vertical-align: middle;font-weight:bold;font-size: 1.2em;display: block;text-align: center;padding-top: 0.7em;padding-bottom: 0.4em;}
	.flex.cart{
		z-index: 999;
		position: fixed;
		bottom: 4em;right: 1em;
		border: 2px solid #fff;
		border-radius: 100px;
		width: 2em;height: 2em;
	}
	.flex.cart img{max-width: 70%;max-height: 70%;margin: 15% auto;display: block;}
	.index-notice{padding-left: 2%;line-height: 3rem;position: relative;overflow: hidden;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
	.index-notice svg{margin-right: 2%;width: 1.5em;height:1.5em;float: left;margin-top: 3px;}
	.index-notice ul{display: block;height: 2.4rem;overflow: hidden;}
	.index-notice a{color: #000;}
	.index-notice ul li{width: 70%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
	
	.o-black{
		position: fixed;
		z-index: 101;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
	}
	.o-container{
		position: fixed;
		z-index: 101;
		width: 50%;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: #FAFAFC;
		text-align: center;
		border-radius: 3px;
		overflow: hidden;
		padding: 0.9em;
	}
	.o-container-close{
		position: absolute;
		top: 0;right: 0.3em;font-size: 1.3em;
	}
	.o-container-title{
		font-size: 1.5em;padding-bottom: 0.3em;
	}
	.index-section-pic-img{
		display: block;
	}

.swiper-pagination-bullet{
    text-align: center;
    border: 1px solid #fff;
    opacity: 1;
    background: rgba(0,0,0,0)}
.swiper-pagination-bullet-active{background: #fff !important;}
