.form-content {
    min-height: 615px;
    padding-bottom: 58px;
    background:url(/app/web/static/images/form_bg.jpg) repeat center center;
}
.form-content .tit{
	padding-top: 28px;
}
.form-content .tit h1{
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
}
.form-content .cont{
	position: relative;
	margin-top: 35px;
	padding: 58px 115px;
	border: 2px solid #0E90D2;
	border-radius: 4px;
	background-color: #F1F1F1;
}
.form-content .cont .section{
	margin: 10px 0;
}
.form-content .cont .section textarea{
	
}
.form-content .cont .section .form-left{
	line-height: 41px;
	font-size: 14px;
}
.form-content .cont .section select{
	height: 41px;
	padding: 0 10px;
	margin-right: 10px;
	border: 1px solid #CCCCCC;
}
.form-content .cont .section .info{
	font-size: 12px;
	color: #0E90D2;
}
#submit-form-btn{
	padding: 10px 41px;
	font-size: 28px;
	position: absolute;
	bottom: -26px;
	left: 50%;
	margin-left: -98px;
}
.form-content .cont .type-box{
	height: 41px;
	line-height: 41px;
}
.form-content .cont .type-box label{
	margin-right: 15px;
	font-weight: normal;
	font-size: 14px;
}
.form-content .cont .type-box label input{
	margin-right: 10px;
}




































