a {
text-decoration:none!important;
}
.icon-icarrowdropdown{
	font-size: 13px !important;
	width: 17px !important;
	height: 17px !important;
	line-height: 17px !important;
	text-align: center;
	/*background-color: #00F7DE;*/
}

.color1{
	color: #0099CC !important;
}
.color2{
	color: #C3C1C3 !important;
}
.color3{
	color: #8FC356 !important;
}

/*盒布局*/
.display-box {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-flexbox;
	display: box;
}

/*垂直方向-居中对其*/
.box-align-center {
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	box-align: center;
}

/*垂直方向-顶部对齐*/
.box-align-start {
	-moz-box-align: start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-o-box-align: start;
	box-align: start;
}

/*垂直方向-底部对齐*/
.box-align-end {
	-moz-box-align: end;
	-webkit-box-align: end;
	-o-box-align: end;
	-ms-flex-align: end;
	box-align: end;
}

/*水平方向-居中对齐*/
.box-pack-center {
	-moz-box-pack: center;
	-webkit-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	box-pack: center;
}

/*水平方向-左则对齐*/
.box-pack-start {
	-moz-box-pack: start;
	-webkit-box-pack: start;
	-o-box-pack: start;
	-ms-flex-pack: start;
	box-pack: start;
}

/*水平方向-右则对齐*/
.box-pack-end {
	-moz-box-pack: end;
	-webkit-box-pack: end;
	-o-box-pack: end;
	-ms-flex-pack: end;
	box-pack: end;
}

/*设置元素为可伸缩*/
.box-flex {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-flex: 1;
	box-flex: 1;
}
.box-flex2 {
	-moz-box-flex: 0.1;
	-webkit-box-flex: 0.1;
	-o-box-flex: 0.1;
	-ms-flex: 0.1;
	box-flex: 0.1;
}

/*规定框中子元素的显示次序*/
.box-ordinal-group1 {
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-o-box-ordinal-group: 1;
	-ms-box-ordinal-group: 1;
	box-ordinal-group: 1;
}
.box-ordinal-group2 {
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	-o-box-ordinal-group: 2;
	-ms-box-ordinal-group: 2;
	box-ordinal-group: 2;
}
.box-ordinal-group3 {
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	-o-box-ordinal-group: 3;
	-ms-box-ordinal-group: 3;
	box-ordinal-group: 3;
}

/*改变元素的排列方向-纵向排列*/
.box-orient-vertical {
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
}
/*/盒布局*/

.kzlst,.kzlst2 {
box-sizing:content-box !important;
}
body{
	min-width: 1380px;
}
/*动画、过渡*/
.transition1 {
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
/*背景颜色*/
.background-color1{
	background-color: #68A4FC !important;
}
.background-color2{
	background-color: #5DAE81 !important;
}

/*左则导航菜单1*/
.conter{ height:100%;}
.conter-left{width:126px; background:#293038;padding-bottom: 100px; color:#FFF; height:100%; overflow:auto; position:relative; z-index:20;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.conter-left-logo{
	/*padding: 15px 0;*/
}
.conter-left-logo img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	width: 70px;
}
.czksm .conter-left-logo,
.czksm .conter-left-div ul h3 samp {
	display: none;
}
.conter-left.czksm{ width:50px;}
.conter-left h2{ width:100%; background:#394555; height:30px; line-height:30px; cursor: pointer; text-align:center;}
.conter-left h2:hover{ background:#37424F;}
.conter-left-div ul{ font-size:12px;}
.conter-left-div ul h3{height:40px; line-height:40px; background:#22282E; cursor: pointer; overflow:hidden;  border-bottom: none;}
.conter-left-div ul h3 b{ padding-left:16px; font-weight:normal;}
.conter-left-div ul h3 span{ display: inline-block; width:20px; height:20px; line-height:20px; padding-left:0 !important;
	     -o-transition: -o-transform 0.25s;
	    -ms-transition: -ms-transform 0.25s;
	   -moz-transition: -moz-transform 0.25s;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}
.conter-left-div ul h3 span.xuanzlse{
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); 
	transform: rotate(-90deg);
}
.conter-left-div ul h3.wonslt{ height:39px; background:#37424F; border-bottom: 1px solid #414D5C;}
.conter-left-div ul h3:hover{background: #414D5C;}
.conter-left-div ul li{ height:40px; line-height:40px; overflow:hidden;margin-bottom: 10px;}
.conter-left-div ul li:nth-last-child(2){ margin-top: 50px;}
.conter-left-div ul li .glyphicon{ color: #AEB9C2; position:relative;}
.conter-left-div ul li a{ display:block;cursor:pointer}
.conter-left-div ul li a:hover{ background:#37424F;}
.conter-left-div ul li a:hover .glyphicon{ color:#FFF;}
.conter-left-div ul li.on a{ background:#009cfb !important;}
.conter-left-div ul li.on a .glyphicon{ color:#FFF !important;}
.conter-left-div ul h3 samp{ padding-left:4px;}
.conter-left-div ul li samp{ padding-left:16px;font-size: 14px;}
.conter-left .conter-left-div .glyphicon{ position:relative; padding-left:16px;}
.conter-left-div ul span.glyphicon{
	font-size: 14px;
}
.conter-left-div ul li .iconfont{ color: #AEB9C2; position:relative;}
.conter-left-div ul li a:hover .iconfont{ color:#FFF;}
.conter-left-div ul li.on a .iconfont{ color:#FFF !important;}
.conter-left .conter-left-div .iconfont{ position:relative; padding-left:16px;}
.conter-left-div ul span.iconfont{
	font-size: 18px;
}
.conter-left-div-nav{
	background-color: #37424F;
}
/*/左则导航菜单1*/

/*左则导航菜单2*/
.conter-left2{
	width:112px; height:100%; position:relative; z-index:1;
	text-align: center;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background-color: #fff;
}
.conter-left2 .glyphicon,
.conter-left2 .iconfont{
width:0;
}
.qckslt{-webkit-transform: translate(-180px, 0); transform: translate(-180px, 0); width:0;}
.conter-left2 h2{ color: #333; font-weight:bold; font-size:12px; padding:0 0 0 20px;
	line-height: 42px;
}
.conter-left2-div{height:100%; overflow:auto;}
.public-hearder~.conter-left2-div{padding-right: 10px;padding-left: 10px;}
.conter-left2-div ul{ line-height:36px; font-size:12px;}
.conter-left2-div ul.on{ background:#f8f8f8;}
.conter-left2-div ul h3{ font-size:0; line-height: 36px;font-weight: normal;}
.conter-left2-div ul h3 a{ display:block;}
.conter-left2-div ul h3 a:hover{ background:#F4F6F8;}
.conter-left2-div ul.on h3 a:hover{ background:inherit;}
.conter-left2-div ul h3 span{color:#333; width:30px; vertical-align:middle; display:inline-block; text-align:center; font-size: 18px; top:2px;}
.conter-left2-div ul h3 samp{color:#333; font-size:14px; vertical-align:middle;}

.conter-left2-div ul h3 span{ display: inline-block;
	     -o-transition: -o-transform 0.25s;
	    -ms-transition: -ms-transform 0.25s;
	   -moz-transition: -moz-transform 0.25s;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}
.conter-left2-div ul h3 span.xuanzlse{
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.conter-left2-div ul li{ height:40px; line-height:40px; overflow:hidden; font-size:12px;}
.conter-left2-div ul li a{height:40px; line-height:40px; overflow:hidden; display:block; color: #666; padding-left:38px;}
.conter-left2-div ul li a:hover{ background:#F4F6F8;}
	/*展开收起*/
	.kzlst{ cursor: pointer;
		-o-transition: all 0.14s ease;
		-ms-transition: all 0.14s ease;
		-moz-transition: all 0.14s ease;
		-webkit-transition: all 0.14s ease;
		transition: all 0.14s ease;
	}
	.kzlst span{ display:inline-block; width:20px; line-height:27px; text-align:center; font-size: 14px; color: #666;}
	
	.zy-zk {
		position: absolute; right:-193px; top:50%; margin-top:-25px; z-index:998;
		
		width: 0;
		height: 26px;
		border-bottom: 12px solid transparent;
		border-left: 20px solid #D9DEE4;
		border-top: 12px solid transparent;
	}
	.zy-zk:hover{ right:-200px;}
	.zy-zk span.iconfont{ margin-left:-20px}
	
	.zy-sq {
		position: absolute; right:-7px; top:50%; margin-top:-25px; z-index:998;
		
		width: 0;
		height: 26px;
		border-bottom: 12px solid transparent;
		border-left: none;
		border-right: 20px solid #f7f7f7;
		border-top: 12px solid transparent;
	}
	.zy-sq:hover{ right: 0;}
	/*/展开收起*/
/*/左则导航菜单2*/

/*右则*/
.conter-right{background: rgb(242,242,242); height:100%; overflow:auto; position:relative; z-index:3;}
.iekdl{height:100px\9 !important;} /*IE8 9 10*/
*::-ms-backdrop, .iekdl {  height:100px !important;}  /*IE11*/
/*/右则*/
.conter-right-header{
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
	font-size: 14px;
}
.conter-right-body{
	margin: 10px;
	padding: 15px;
	background-color: #fff;
    height: 100%;
    overflow: auto;
    position: relative;
    z-index: 3;
}
.conter-rigfyos{
	float: right; 
	background-color: #fff;
	height: 100%; 
	color: #333;
	font-size: 12px;
	width: 190px;
	position: relative;
	z-index: 3;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;  	
}	
.conter-weklaj{
	overflow: auto;
	height: 100%; 
}
.conter-rigfyos-moksl{
	margin-top: 10px;
}
.conter-rigfyos-moksl h5{
	background-color: #0099CC;
	color: #FFF;
	line-height: 40px;
	padding: 0 20px;
}
.conter-rigfyos-moksl h5 span{
	color: #FFF;
	font-size: 22px;
	top: 1px;
	position: relative;  
}
.conter-rigfyos-moksl h5 samp{
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	padding-left: 10px;
}
.conter-rigfyos-moksl ul li a{
	color: #333;
	display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  	
}
.conter-rigfyos-moksl ul li a:hover{
	color: #0085B1;
}
.conter-rigfyos-moksl ul{
	padding: 7px 20px 0 20px;
}
.conter-rigfyos-moksl ul li{
	line-height: 24px;
}
.qckslt2{
	-webkit-transform: translate(250px, 0); 
	transform: translate(250px, 0); 
	width:0;
}
.conter-toslre{
	padding: 15px 20px 15px;
}
.conter-toslre h5{
	display: block;
	text-align: center;
}
.conter-toslre h5 span{
	color: #0099CC;
	font-size: 28px;
	display: inline-block;
	vertical-align: middle;
}
.conter-toslre h5 samp{
	color: #0099CC;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;  	
}
.conter-zxkfu{
	margin-top: 15px;
	text-align: center;
}
.conter-zxkfu a{
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #BBBCBB;
	padding: 8px 0;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
	width: 166px;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;		
}
.conter-zxkfu a:hover{
	background-color: #F5F5F5;
}
.conter-zxkfu a span{
	color: #333;
	font-size: 20px;
}
.conter-zxkfu a samp{
	color: #333;
	padding-left: 10px;
	font-size: 15px;
	font-weight: bold;
}
.conter-dhkfu{
	font-size: 13px;
	margin-top: 15px;
	text-align: center;
}
/*展开收起*/
.kzlst2{ cursor: pointer;
	-o-transition: all 0.14s ease;
	-ms-transition: all 0.14s ease;
	-moz-transition: all 0.14s ease;
	-webkit-transition: all 0.14s ease;
	transition: all 0.14s ease;
}
.kzlst2 span{ display:inline-block; width:20px; line-height:27px; text-align:center; font-size: 14px; color: #666;margin-left: -8px;}
.zy-zk2 {
	position: absolute; left:-7px; top:50%; margin-top:-25px; z-index:998;
	width: 0;
	height: 26px;
	border-bottom: 12px solid transparent;
	border-left: 20px solid #f7f7f7;
	border-top: 12px solid transparent;
}
.zy-zk2:hover{ left: 0;}
.zy-zk2 span.iconfont{ margin-left:-18px}
.zy-sq2 {
	position: absolute; left: -263px; top:50%; margin-top:-25px; z-index:998;
	width: 0;
	height: 26px;
	border-bottom: 12px solid transparent;
	border-left: none;
	border-right: 20px solid #D9DEE4;
	border-top: 12px solid transparent;
}
.zy-sq2:hover{ left: -270px;}
/*/展开收起*/
.zhicwl-cenksp .zhicwl-nav h4 {
	font-size: 20px;
	color: #333;
	font-weight: normal;
	float: left;
	margin-bottom: 0;
}
.zhicwl-dolprt {
	background-color: rgb(248,248,248);
	margin-top: 15px;
	padding: 30px 0;
}
.zhicwl-dolprt ul {
	display: flex;
}
.zhicwl-dolprt ul li {
	text-align: center;
	width: 100%;
}
.zhicwl-dolprt ul li span {
	font-size: 13px;
	display: block;
	color: #0099CC;
}
.zhicwl-dolprt ul li span i {
	font-style: normal;
	padding-right: 2px;
}
.zhicwl-dolprt ul li samp {
	font-weight: normal;
	font-size: 12px;
	color: rgb(51,51,51);
	display: block;
	margin-top: 12px;
}
.zhicwl-trep {
	margin-top: 15px;
}
.zhicwl-tyzjlat {
	background-color: #f8f8f8;
	padding: 10px 12px;
}
.zhicwl-tyzjlat span {
	position: relative;
	display: block;
	padding: 4px 0;
	padding-left: 25px;
	color: rgb(51,51,51);
	font-weight: bold;
	font-size: 16px;
}
.zhicwl-tyzjlat span:before {
	content: "";
	position: absolute;
	left: 5px;
	top: 0;
	z-index: 1;
	width: 7px;
	height: 100%;
	background-color: #F99C1C;
}	
.zhicwl-reatop {
	overflow: hidden;
}
.show-content{
	margin-top: 20px;
	float: left;
	width: 660px;
	height: ;
	margin-right: 15px;
}
.zhicwl-reatop-right {
	background-color: #f8f8f8;
	margin-top: 20px;
	margin-left: 680px;
}		
.zhicwl-reatop-right{
	padding: 35px;
	box-sizing: border-box;
}	
.zhicwl-ztgak{
	font-weight: bold;
	font-size: 16px;
	color: rgb(51,51,51);
}
.zhicwl-ztgak a{
	color: #0099CC;
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
	color: rgb(51,136,255);
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;	
}
.zhicwl-ztgak a:hover{
	color: #007DA7;
}
.zhicwl-sulp-left{
	float: left;
	line-height: 2.1;
	font-size: 14px;
	color: rgb(51,51,51);
	font-weight: bold;
}	
.zhicwl-sulp-left span{
	display: block;
	color: #C7272E;
	font-size: 26px;
	color: rgb(51,136,255);
	font-weight: normal;
}
.zhicwl-sulp-right{
	float: right;
	line-height: 2.1;
	padding-top: 16px;
	padding-bottom: 16px;
}
.zhicwl-sulp-right dl dd span{
	padding-left: 10px;
}
.zhicwl-sulp ul{
	overflow: hidden;
	margin-left: -25px;
}
.zhicwl-sulp ul li{
	float: left;		
	width: 50%;
	margin-top: 25px;
	padding-left: 25px;
	box-sizing: border-box;
}	
.zhicwl-dplmt{
	background-color: #FFF;
	border: 1px solid #C4C8C4;
	overflow: hidden;
	font-size: 12px;
	padding: 15px 25px;
}
@media (max-width: 1600px){
	.show-content{
		width: 100%;
		float: none;
	}
	.zhicwl-reatop-right{
		width: 100%;
		float: none;
		margin-left: 0;
	}
}			
.zhicwl-cyplsb ul{
	overflow: hidden;
	margin-left: -10px;
}
.zhicwl-cyplsb ul li{
	width: 20%;
	float: left;
	box-sizing: border-box;
	margin-top: 10px;
	padding-left: 10px;
}
.zhicwl-cyplsb ul li a{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	background-color: #f8f8f8;
	line-height: 60px;
	font-weight: bold;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;		
}
.zhicwl-cyplsb ul li a:hover{
	background-color: #DADFE6;
}
.zhicwl-cyplsb ul li span{
	color: #333;
	padding-left: 30px;
	color: #8AC353;
}
.zhicwl-cyplsb ul li samp{
	color: #333;
	font-size: 13px;
	padding-left: 15px;
}	
@media (max-width: 1600px){
	.zhicwl-cyplsb ul li{
		width: 25%;
	}	
	.zhicwl-cyplsb ul li span{
		padding-left: 15px;
	}
	.zhicwl-cyplsb ul li samp{
		padding-left: 10px;
	}						
}
.zhicwl-yxclsj ul{
	overflow: hidden;
	margin-left: -40px;
	margin-top: -10px;
}
.zhicwl-yxclsj ul li{
	float: left;
	width: 20%;
	position: relative;
	box-sizing: border-box;
	padding-left: 40px;
	margin-top: 25px;
}
.label-hot,
.label-new,
.label-stay{
	position: absolute;
	right: 5px;
	top: 5px;
    padding: 0 5px;
    border-radius: 3px;
}
.label-hot{
	background: red;
    color: #fff;
}
.label-new{
	background: red;
    color: #fff;
}
.label-stay{
	background: rgb(242,242,242);
    color: #fff;
}
.zhicwl-yxclsj ul li a{
	display: block;
	background-color: #f8f8f8;
	overflow: hidden;
	padding: 20px 18px;
	border-radius: 5px;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;		
}
.zhicwl-yxclsj ul li a:hover{
	background-color: #DADFE6;
}
.zhicwl-yxclsj-left{
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #F88631;
	border-radius: 4px;
	overflow: hidden;
	float: left;
}
.zhicwl-yxclsj-left span{
	color: #FFF;
}
.zhicwl-yxclsj ul li .zhicwl-yxclsj-right{
	color: #333;
	margin-left: 58px;
	padding-right: 18px;
}
.zhicwl-yxclsj ul li .zhicwl-yxclsj-right h6{
	font-size: 14px;
	font-weight: bold;
	display: block;
}	
.zhicwl-yxclsj ul li .zhicwl-yxclsj-right samp{
	font-size: 12px;
	color: #7F7A83;
	display: block;
	margin-top: 4px;
	line-height: 1.4;
	max-height: 32px;
	overflow: hidden;
}
@media (max-width: 1600px){
	.zhicwl-yxclsj ul li{
		width: 25%;
	}	
	.zhicwl-yxclsj ul li .zhicwl-yxclsj-right samp{
		height: 32px;
	}
}	
@media (max-width: 1200px){
	.zhicwl-yxclsj ul li{
		width: 33.3333%;
	}	
}		
.zhicwl-tmydhre ul{
	overflow: hidden;
	margin-left: -30px;
	margin-top: -15px;
}	
.zhicwl-tmydhre ul li{
	box-sizing: border-box;
	width: 14%;
	padding-left: 30px;
	float: left;
	margin-top: 30px;
}	
.zhicwl-tmydhre ul li .zhicwl-akmsnvrt{
	border: 1px solid #E8E8E8;
	text-align: center;
	padding: 16px;
	border-radius: 5px;
	overflow: hidden;
}
.zhicwl-tmydhre ul li .zhicwl-akmsnvrt img{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 4px;
}
.zhicwl-tmydhre ul li h5{
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}	
.zhicwl-tmydhre ul li .zhicwl-akmsnvrt:hover{
	border-color: #AEBAC9;
}

.zhicwl-tyzjlat2{
	padding-bottom: 16px;
	font-size: 14px;
	padding-left: 5px;
	font-weight: bold;
	margin-top: 50px;
}	
.zhicwl-mib-nav{
	background-color: #FFF;
	margin-top: -15px;
	border-bottom: 1px solid #EFEFEF;
}
.zhicwl-mib-nav ul{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	margin-left: -16px;
}	
.zhicwl-mib-nav ul li{
	float: left;
	padding: 0 15px;
}
.zhicwl-mib-nav ul li a{
	color: #333;
	padding: 0;
	position: relative;
	padding: 0 3px;
	display: block;
	font-weight: normal;
	font-size: 14px;
}
.zhicwl-mib-nav ul li a:hover{
	color: rgb(0,153,252);
}
.zhicwl-mib-nav ul li.on a:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 2px;
	z-index: 1;
	width: 100%;
	background-color: #009afa;
}	
.zhicwl-mib-nav ul li.on a{
	color: rgb(0,153,252);
}	
@media (max-width: 1400px){
	.zhicwl-hxgaolr .zhicwl-yxclsj ul li{
		width: 33.3333%;
	}
}


.zhicwl-damr-left{
	display: inline-block;
	vertical-align: middle;
}	
.zhicwl-damr{
	padding-top: 30px;
}	
.zhiclw-llcj{
	position: relative;
	display: inline-block;
}
.zhiclw-llcj h5{
	border:1px solid #BBB;
	display: block;
	width: 100px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 12px;
	overflow: hidden;
	border-radius: 3px; 
	position: relative;
	cursor: pointer;
	background-color: #FFF;
}
.zhiclw-llcj h5:before{
	content: "";
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	z-index: 1; 
  width:0; 
  height:0; 
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:4px solid #333;
}		

.zhiclw-llcj ul{
	display: none;
	position: absolute;
	overflow: hidden;
	border-radius: 3px;			
	left: 0;
	top: 32px;
	z-index: 9999;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background-color: #FFF;
	border:1px solid #BBB;
	border-top: none;
}
.zhiclw-llcj ul li{
	padding: 8px 10px;
	font-size: 12px;
	cursor: pointer;
}
.zhiclw-llcj ul li:hover{
	background-color: #0099CC;
	color: #FFF;
}

.zhicwl-damr-left{
	float: left;
}
.zhicwl-sjcjas{
	vertical-align: middle;
	font-size: 0;
	display: inline-block;
}
.zhicwl-sjcjas > span{
	font-size: 12px;
	color: #333;
	padding: 0 10px;
}	
.zhicwl-sjcjas-input{
	display: inline-block;
	position: relative;
}
.zhicwl-sjcjas-input samp{
	color: #B1B1B1;
	position: absolute;
	right: 4px;
	top: 6px;
	z-index: 1;
	font-size: 20px;
}
.demo-input {
	font-size: 12px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	border:1px solid #BBB;
	background-color: #FFF;
	overflow: hidden;
	border-radius: 3px;
	color: #333;
	padding: 0 10px;
	position: relative;
	width: 138px;
	z-index: 0;
	cursor: pointer;
}
.demo-footer {
	padding: 50px 0;
	color: #999;
	font-size: 14px;
}
.demo-footer a {
	padding: 0 5px;
	color: #01AAED;
}
.zhicwl-btn{
	border: none;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	padding: 0 16px;
	background-color: #0099CC;
	color: #FFF;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	margin-left: 10px;
	cursor: pointer;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;	
}
.zhicwl-btn:hover{
	background-color: #008DBB;
}
.laydate-btns-time{
	color: #666 !important;
}
.layui-laydate-footer span:hover{
	color: #0099CC !important;
}
.zhicwl-replab{
	font-size: 0;
	float: right;
}
.zhicwl-replab button{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}	
.zhicwl-btn2{
	border:1px solid #BBB;
	line-height: 32px;
	height: 32px;
	border-radius: 2px;
	overflow: hidden;
	color: #333;
	font-size: 12px;
	text-align: center;
	background-color: #FFF;
	margin-left: 10px;
	padding: 0 15px;
	overflow: hidden;
	border-radius: 3px;
	cursor: pointer;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;					
}	
.zhicwl-btn2:hover{
	background-color: #F5F5F5;
}
@media (max-width: 1550px){
	.zhicwl-damr-left{
		float: none;
	}
	.zhicwl-replab{
		float: none;
		margin-top: 10px;
		margin-left: -10px;
	}				
}

.zhicwl-tabs{
	margin-top: 25px;
}
.zhicwl-tabs-hd{
	border-bottom: 1px solid #BBB;
	height: 34px;
}
.zhicwl-tabs-hd ul{
	display: inline-block;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px 4px 0 0;
	/*overflow: hidden;*/
}
.zhicwl-tabs-hd ul li{
	cursor: pointer;
	float: left;
	background-color: #F5F5F5;
	border-left: 1px solid #BBB;
	border-right: none;
	line-height: 33px;
	font-size: 12px;
	color: #333;
	width: 90px;
	text-align: center;
	height: 31px;
	overflow: hidden;
	position: relative;
}	
.zhicwl-tabs-bd dt+dd {
    margin-top: 0!important;
}
.zhicwl-tabs-hd ul li:first-child{
	border-left: none;
}
.zhicwl-tabs-hd ul li:hover{
	color: #0099CC;
}
.zhicwl-tabs-hd ul li.on{
	background-color: #FFF;
	padding-bottom: 1px;
	border-bottom: 2px solid #fff;
}				
.zhicwl-bdan{
	background-color: #F5F5F5;
	border: 1px solid #BBB;
	margin-top: 15px;
	line-height: 40px;
	border-radius: 4px;
	overflow: hidden;
}
.zhicwl-bdan dl{
	height: 42px;
	line-height: 42px;
	background-color: #f8f8f8;
}
.qbxf-list dl{
	height: 100px;
	line-height: 100px;
	background-color: #fff;
}
.zhicwl-bdan dl dt{
	margin-left: 10px;
	margin-right: 10px;
}
.zhicwl-bdan dl dt input{
	-webkit-appearance: none !important;
	-ms-appearance: none !important;
	border: 1px solid #BBB;
	width: 14px;
	height: 14px;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
	background-color: #FFF;
	position: relative;
	top: 2px;
	cursor: pointer;
}		
.zhicwl-bdan dl dt input:checked{
	background: #0099CC url(../images/img01.png) center center no-repeat;
	
	border-color: #0099CC;
}	
.zhicwl-bdan dl dd{
	width: 16%;
	line-height: 1;
	text-align: center;
}	
.zhicwl-bdan-datit{
	min-width: 200px;
	text-align: left !important;
}
.zhicwltabs-setr ul li{
	margin-top: 20px;
}
.zhicwl-dklspt{
	background-color: #F5F5F5;
	border: 1px solid #BBB;
	line-height: 40px;
	padding-left: 34px;	
	padding-right: 34px;
	font-size: 13px;		
}
.zhicwl-dklspt-rig a:hover{
	text-decoration: underline;
	color: #0085B1 !important;
}
.zhicwl-dklspt-rig span{
	cursor: pointer;
}
.zhicwl-dklspt-rig span:hover{
	text-decoration: underline;
	color: #0085B1 !important;
}
.zhicwl-bdan2{
	height: 100px;
	line-height: 100px;
	background-color: #FFF;
	border: 1px solid #BBB;
	margin-top: 0;
	border-radius: 0 0 4px 4px;
	overflow: hidden;							
}	
.zhicwl-bdan2 dd{
	line-height: 1.7 !important;
}
.zhicwl-bdan-img{
	padding-right: 15px;
}
.zhicwl-bdan-img img{
	display: block;
	height: 64px;
	width: 64px;
}
.zhicwl-bdan-beiz{
	background-color: #FEEBE1;
	line-height: 36px;
	padding-left: 12px;
	font-size: 13px;
	font-weight: bold;
	color: #E3212C;
	display: block;
	margin-top: 13px;
	border-top: 1px solid #BBB;
}			
.zhicwl-botsrew{
	margin-top: 25px;
}	
.zhicwl-shnaol{
	margin-left: -10px;
}	
.zhicwl-htpage ul li{
	font-size: 12px;
	color: #333;
	border: 1px solid #BBB;
	overflow: hidden;
	border-radius: 3px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	margin-left: 7px;
	margin-top: 0 !important;
	background-color: #FFF;
	cursor: pointer;
}	
.zhicwl-htpage ul li:hover{
	color: #0099CC;
	border-color: #0099CC;
}
.zhicwl-htpage ul li:first-child,
.hlhao{
	border: none !important;
	width: auto !important;
}
.zhicwl-htpage ul li:first-child:hover,
.hlhao:hover{
	color: #333 !important;
	cursor: default !important;
}					
.hlhao{
	position: relative;
	top: -3px;						
}
.pager-current{
	background-color: #0099CC !important;
	color: #FFF !important;
	border-color: #0099CC !important;
}
.zhicwltabs-setr{
	display: none;
}
.zhicwl-tabs-bd .zhicwltabs-setr:first-child{
	display: block;
} 
.zhicwl-bdan3{
	background-color: #FFF;
	border-top: none;
	margin-top: 0;
	border-radius: 0;
	padding-top: 18px;
	padding-bottom: 18px;							
}	
.zhicwl-bdan3 dd{
	line-height: 1.7 !important;
}	
.zhicwltabs-setr2 ul{
	margin-top: -2px;
}
.zhicwltabs-setr2 ul li {
  margin-top: 0;
}
.zhicwltabs-setr2 ul li:first-child{
	border-top: 1px solid #BBB;
}
.zhicwl-shrge{
	border: 1px solid #BBBBBB;
	padding-bottom: 32px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	border-radius: 4px;
	background-color: #F5F5F5;
}
.zhicwl-shrge	.zhicwl-damr-left{
	float: none;
}
.zhicwl-shrge .zhicwl-sjcjas{
	margin-left: 0 !important;
}
.zhicwl-youdklr{
	padding-left: 0 !important;
	padding-right: 5px !important;
	width: 70px;
	display: inline-block;
	text-align: right;
	font-size: 12px;
}
.zhicwl-shrge .zhicwl-replab{
	float: none;
	margin-top: 15px !important;
	margin-left: 65px !important;
}
.zhicwl-henpslm{
	margin-top: 15px;
}	
.zhicwl-henpslm-left{
	display: inline-block;
	font-size: 0;
}
.zhicwl-henpslm-left input{
  border: 1px solid #BBB;
  display: inline-block;
  width: 180px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  color: #333;
}
.zhicwl-henpslm-right{
	display: inline-block;
	margin-left: 25px;
}		
.zhicwl-galsar dl dd:nth-of-type(2){
	width:160px;
}
.zhicwl-galsar dl dd:nth-of-type(3){
	width:222px;
}
.zhicwl-galsar dl dd:nth-of-type(5){
	width:98px; 
	text-align: right; 
	padding-right: 45px;
}
.zhicwl-galsar dl dd:nth-of-type(6){
	width:70px;
}
.zhicwl-galsar dl dd a:hover{
	text-decoration: underline;
	color: #0085B1 !important;	
}
.coutline {
	font-weight:normal;
	font-size:26px !important;
	color: rgb(51,136,255);
}
.zhicwl-nav {
	overflow: hidden;
	margin-bottom: 2.2rem;
}
.zhicwl-nav ul{
	overflow: hidden;
	float: left;
	margin-top: 0;
}
.zhicwl-nav ul li{
	box-sizing: border-box;
    margin-left: 10px;
    float: left;
    padding: 5px 15px;
    background: #009cfb;
}
.zhicwl-nav ul li:first-child{
    background: #cb34cc;
}
.zhicwl-nav ul li:nth-child(2){
    background: #fd5b59;
}

.zhicwl-nav li h5{
	font-size: 12px;
	margin-bottom: 0;
	color: #fff;
}

.zhicwl-cyplsb span{
	font-size: 20px;
	border-radius: 2px;
	color: rgb(17,205,110)!important;
}
.zhicwl-cyplsb samp{
	font-size: 14px!important;
	color: rgb(51,51,51)!important;
	font-weight: bold;
}
.important-color{
	color: rgb(255,67,67)!important;
}
.fans-btn-self{
	width: 80px;
	margin-left: 10px;
}
.normal-input-self{
	width: 208px!important;
	height: 32px!important;
}
.am-selected-btn {
    width: 208px!important;
}
.am-btn{
	height: 32px!important;
}
.am-form select, .am-form textarea, .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=number], .am-form input[type=email], .am-form input[type=url], .am-form input[type=search], .am-form input[type=tel], .am-form input[type=color], .am-form-field {height: 32px;}

.form-group-self{
	height: 28px!important;
}
.table-self{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 20px;
	text-align: center;
	font-size: 14px;
}

.table-self th{
	padding: 10px;text-align: center;
}

.table-self tr{
	 outline: 1px solid #bbb;
}

.table-self thead tr{
	outline: 1px solid #ddd;
	background-color: #f8f8f8;
}

.table-self td{
	height: 110px;
}

.mt0 {
    margin-top: 0!important;
}
.mb0{
	margin-bottom: 0!important;
}
.ml0{
	margin-left: 0!important;
}
.mr0{
	margin-right: 0!important;
}
.pd0{
	padding: 0!important;
}
.pl0{
	padding-left: 0!important;
}
.pt0{
	padding-top: : 0!important;
}
.pb0{
	padding-bottom: 0!important;
}
.pr0{
	padding-right: 0!important;
}
.mg0{
	margin: 0!important;
}
.input100{
	width: 100px!important;
	height: 32px!important;
}
.input200{
	width: 200px!important;
	height: 32px!important;
}
.input300{
	width: 300px!important;
	height: 32px!important;
}
.dropdown-self{
	width: 140px!important;
	padding-right: 10px!important;
}
.time-btn{
	background-color: #fff!important;
	border:1px solid #dcdcdc!important;
}
.bgnone{
	background: none!important;
}

.chart-content-rigth{
	height: 522px;
	border-left: 1px solid #faf8f4;
	border-right: 1px solid #faf8f4;
	border-top: 2px solid #faf8f4;
}
.chart-content{
	width: 100%;
	border-left: 2px solid #faf8f4;
	border-top: 3px solid #faf8f4;
}
.chart-content-show {
	margin-top: 20px;
	width: 90%;
}
.text-center{
	text-align: center;
}
.zhicwl-yxclsj-self ul{
	overflow: hidden;
	background-color: #f8f8f8;
	border-radius: 5px;
}
.zhicwl-yxclsj-self ul li{
	float: left;
	width: 20%;
	box-sizing: border-box;
}
.zhicwl-yxclsj-self ul li a{
	display: block;
	overflow: hidden;
	padding: 15px 0;
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	transition: all 0.15s linear;		
}
.zhicwl-yxclsj-self ul li a:hover{
	background-color: #DADFE6;
}
.zhicwl-yxclsj-left{
	width: 34px;
	height: 34px;
	line-height: 31px;
	text-align: center;
	background-color: rgb(225,102,0);
	border-radius: 4px;
	overflow: hidden;
	float: left;
}
.zhicwl-yxclsj-left span{
	color: #FFF;
	font-size: 22px;
}
.zhicwl-yxclsj-self ul li .zhicwl-yxclsj-right{
	border-right: 1px dashed #d3d3d3;
	color: #333;
	text-align: center;
}
.zhicwl-yxclsj-self ul li:nth-child(5) .zhicwl-yxclsj-right{
	border:none;
}
.zhicwl-yxclsj-self ul li .zhicwl-yxclsj-right h6{
	font-size: 26px;
	font-weight: normal;
	display: block;
	color: rgb(51,51,51);
}	
.zhicwl-yxclsj-self ul li .zhicwl-yxclsj-right samp{
	font-size: 12px;
	font-weight: normal;
	color: rgb(51,51,51);
	display: block;
	margin-top: 10px;
	line-height: 1.4;
	max-height: 32px;
	overflow: hidden;
}
.short-btn100 button{
	width: 100px!important;
	margin-right: 10px;
	border-radius: 6px;
}
.pro-input-self i{
	font-size: 15px;
	margin-top: -8px!important;
	text-align: center;
}
.pro-input-self .am-form-field{
	height: 32px!important;border-radius: 6px;
}
.pro-table-self{
	margin-top: 10px;
	border-bottom: 2px solid #d5d5d5;
}
.pro-table-self thead{
	background-color: #f5f5f5;
}
.pro-table-self tr td:not(:first-child),
.pro-table-self thead th:not(:first-child){
	text-align: center;
}
.pro-table-self tr td:first-child{
	position: relative;
}
.pro-table-self tr td:last-child,
.pro-table-self thead th:last-child{
	text-align: right;
}
.pro-table-self thead th:last-child{
	width: 300px;
}
.pro-table-self thead th{
	font-weight: normal!important;
}
.pro-table-self tr td{
	vertical-align: top;
	padding-top: 20px!important;
	padding-bottom: 20px!important;
}
.pro-table-self tr a{
	margin-right: 10px;
	color: rgb(0,153,252);
	font-weight: normal;
	cursor: pointer;
}
.pro-table-self .delCheck{
	vertical-align: top;
	margin-top: 0!important;
}
.pro-table-self .delCheck~img{
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.pro-table-self .template-title{
	vertical-align: top;
}
.pro-table-self .price-bottom{
	position: absolute;
	left: 121px;
	bottom: 20px;
}
.pro-btngroup-self>div:first-child button{
	margin-right: 8px;
}
.pro-btngroup-self .am-pagination li,
.pro-btngroup-self .am-pagination li a{
	padding-top: 0!important;
	padding-bottom: 0!important;
	height: 32px!important;
	line-height: 32px!important;
	margin-right: 0!important;
}
.pro-btngroup-self .am-pagination li{
	margin-right: 5px!important;
	margin-top: 0;
}
.pro-btngroup-self .am-pagination li a{
	margin-right: 0!important;
	margin-bottom: 0!important;
}
.am-pagination{
	margin: 0!important;
}
.am-pagination>.am-active>a, .am-pagination>.am-active>span, .am-pagination>.am-active>a:hover, .am-pagination>.am-active>span:hover, .am-pagination>.am-active>a:focus, .am-pagination>.am-active>span:focus{
	background-color: #f5f5f5!important;
    border-color: #c3c3c3!important;
    color: #444!important;}
.am-pagination .am-disabled,
.am-pagination .am-active{
	margin: 0!important;
}
.am-pagination .time-btn {
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    color: rgb(51,51,51);
}
.am-pagination .time-btn .am-form-group {
    height: 20px;
}
.am-pagination .time-btn input {
    width: 60px;
}
.am-pagination .pagination-self {
    height: 20px;
    width: 40px;
    margin-top: -20px!important;
    border: 1px solid #dcdcdc!important;
}
.pro-btngroup-self a{
    color: #444!important;
    font-size: 12px!important;
}
.pro-btngroup-self .am-active{
	background-color: #f5f5f5!important;
    border-color: #c3c3c3!important;
    color: #444!important;
}
.blue-self{
	background-color: rgb(0,153,252)!important;
	color: #fff!important;
}
.blue-text-self{
	color: rgb(0,153,252)!important;
}
.pro-btngroup-self p{
	line-height: 32px;
	margin-right: 5px;
}

.cats-table-self tr td{
	vertical-align: middle;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.cats-table-self tr input[type=checkbox]{
	height: 12px;
	vertical-align: top;
}
.orderlist-tools{
	padding: 20px 40px;
	background-color: #f8f8f8;
}
.orderlist-tools>div{
	margin-bottom: 10px;
}
.orderlist-tools .time-select a{
	margin-left: 20px;
	color: rgb(0,153,252);
}
.orderlist-tools .order-pro .am-form-group,
.orderlist-tools .order-cus .am-form-group:not(:nth-child(2)){
	margin-right: 30px;
}
.order-info{
	margin-top: 15px!important;
	margin-bottom: 0!important;
}
.orderlist-table {

}
.orderlist-table thead th{
	font-weight: normal!important;
}
.orderlist-table .table-price{
	color: #fe4500;
}
.orderlist-table tr td {
    padding-left: .7rem;
    padding-right: .7rem;
}
.orderlist-table .template-title{
	max-width: 200px;
}
.orderlist-table tr td:first-child {
    width: 20px;
}
.overtext{
	width: 300px;
	text-align: left;
}
.orderlist-btn{
	color: #fff;
	background-color: #f37c1d;
}
.comments-table .comments-btn{
	background-color: #999;
}
.gaikuang-self .zhicwl-yxclsj-self li{
	width: 16.66%;
}
.gaikuang-self .zhicwl-yxclsj-self li:last-child .zhicwl-yxclsj-right{
	border-right: none;
}
.gaikuang-self .zhicwl-yxclsj-self li:nth-child(5) .zhicwl-yxclsj-right{
	border-right: 1px dashed #d3d3d3;
}
.gaikuang-img{
	width: 80px;
	height: 80px;
	border: 1px solid #e9e9e9;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}
.gaikuang-img img{
	width: 100%;
	height: 100%;
}
.gaikuang-title{
	font-size: 20px;
	font-weight: bold;
}
.gaikuang-icons{
	margin-top: 20px;
}
.gaikuang-icons li{
	margin-right: 20px;
}
.gaikuang-icons i{
	margin-right: 10px;
	font-size: 15px;
	color: rgb(51,51,51);
	font-weight: 
}
.gaikuang-btns{
	margin-top: 24px;
}
.gaikuang-btns button{
	margin-left: 10px;
}
.click-green{
	color: rgb(17,205,100)!important;
}
.deep-blue{
	color: rgb(51,136,255)!important;
}
.gaikuang-btn-blue{
	background-color: rgb(255,255,255);
	color: rgb(0,153,252);
	border: 1px solid rgb(0,153,252)!important;
}
.gaikuang-content-show{
	border: 1px solid #eee;
	font-size: 14px;
}
.gaikuang-tips{
	padding: 30px 20px;
}
.gaikuang-tips h3{
	font-size: 16px;
}
.gaikuang-content .zhicwl-tyzjlat a{
    line-height: 30px;
    margin-left: 20px;
}
.gaikuang-content .zhicwl-tyzjlat span {
    font-size: 14px;
}
.gaikuang-content .zhicwl-tyzjlat span:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    z-index: 1;
    width: 5px;
    height: 100%;
    background-color: #F99C1C;
}
.gaikuang-content {
    margin-bottom: 30px;
}
.gaikuang-content i{
    color: #bbbcb9;
    line-height: 30px;
    font-size: 18px;
}

.plugindetail-header{
	background-color: #f8f8f8;
	color: #999;
	margin-bottom: 20px!important;
}
.plugindetail-header ul li{
	margin-bottom: 10px;
}
.plugindetail-header-img img{
	background-color: transparent;
	width:200px;
	height:200px;
	border:none;
}
.plugindetail-header .plugin-title{
	font-size: 18px;
	color: rgb(51,51,51);
	font-weight: bold;
}
.plugindetail-header .plugin-detail{
	font-size: 14px;
	color: rgb(102,102,102);
}
.plugindetail-header .plugin-price span{
	font-size: 20px;
	color: rgb(255,102,0);
}
.plugindetail-header .install,
.plugindetail-header .install2{
	width: 118px;
	height: 36px!important;
	line-height: 36px;
}
.plugindetail-header .plugin-time label{
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 8px;
	border-radius: 4px!important;
	color: rgb(153,153,153)!important;
	background-color: transparent!important;
	border:1px solid #999!important;
}
.plugindetail-header .plugin-time .am-btn:active,
.plugindetail-header .plugin-time .am-btn.am-active {
    -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.125);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.125);
    color: #fff!important;
    background-color: #009cfb!important;
    border-color: #009cfb!important;
}
.plugindetail .am-nav-tabs a{
	border-top-right-radius: 4px!important;
	border-top-left-radius: 4px!important;
}
.public-hearder{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 50px;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.conter-left2-hearder{
	font-size: 14px;
}
.help-container-body{
	overflow-y: auto;
	height: 100%;
}
.help-body-content {
	padding: 10px;
	margin-bottom: -20px
}

.help-body-text{
	padding: 10px;
}
.help-body-content p {
	margin-bottom: .5em;
	line-height: 1.8em
}

.help-body-content span {
	white-space: normal !important
}

.help-body-content hr {
	border: none;
	border-top: 1px solid #e5e5e5;
	margin: 20px 0
}

.help-body-title {
	color: #333;
	border-left: 2px solid #3283fa;
	padding-left: 8px;
	padding-right: 10px;
	line-height: 12px;
	margin: 10px 0
}

.help-body-split-line {
	border-top: 1px solid #e5e5e5;
	margin: 20px 10px
}

.help-body-service {
	position: relative
}

.help-body-service .service-region {
	padding: 20px 20px 20px 70px;
	background-color: #f8f8f8;
	border-radius: 2px;
	display: block;
	color: #666
}

.help-body-service .service-region:hover {
	background: #f2f2f2
}

.help-body-service .service-avatar {
	position: absolute;
	top: 16px;
	left: 14px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%
}

.help-body-service .service-avatar .red-point {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	border: 1px solid white;
	background-color: #f44;
	border-radius: 50%;
	top: -4px;
	right: -4px
}

.help-body-service .service-name {
	color: #333;
	font-size: 16px;
	line-height: 1em;
	margin-bottom: 5px
}

.help-body-service .service-name-title {
	color: #999
}

.help-body-service .customer-contact-block {
	display: block;
	border-top: 2px solid #fff;
	background-color: #f8f8f8;
	border-radius: 2px
}

.help-body-service .customer-contact-block:hover {
	background: #f2f2f2
}

.help-body-service .panama-customer-block {
	position: relative;
	display: block;
	padding: 8px 0
}

.help-body-service .panama-customer-block .panama-customer-button {
	display: block;
	margin: 0 15px;
	border: 1px solid #bbb;
	background: #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 24px;
	color: #333
}

.help-body-service .panama-customer-block .panama-customer-button .panama-customer-inner {
	position: relative;
	display: block;
	padding-left: 20px;
	width: 80px;
	margin: 0 auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAT5JREFUSA3tlk1KxTAQx19CxUu8C/nR9hCiG3Ejgm5cuHEhPBcib+ENBF30Qy9kD+AJEn+zCBRJ8hpoXBQDJekkmV/+M0PT1WrpTbVte2CtfUHoOrPYQSl1pv8IJlrWwiqcsrquVU6FTdNYYemcEJ/v5QMlh95G9X6Q5EPv5A4j1fhZVdWRb1mWkHJQKRBvCyoMndDrJcGYRWGMH1ToNqXkMpY7529WhbHcOeBOhXPnclaFTkWsXz5Q8RX/IgST7kKq8Jycbscho4qPeX+jYPbH9sB40HIpMjkEFvw2P3ddd+qMfd9XgN6nwoQ1+Q5EyQWOn9hkeU6AfhtjXun3tNabsiyv3EFi/WSgOEHdJZANQwPUcIAC2AOw6xhkPJdUpTh+BHSDA/k1KRjfp8DG4KQxhXZLiO+SNv0vXkwEfgAhWW9LRoCkPQAAAABJRU5ErkJggg==) no-repeat left center;
	background-size: 15px
}

.help-body-service .panama-customer-block .panama-customer-button .panama-customer-inner .unread {
	display: inline-block;
	width: 6px;
	height: 6px;
	position: absolute;
	color: #fff;
	border: 1px solid white;
	background-color: #f44;
	border-radius: 50%;
	top: 3px;
	right: -6px;
	overflow: hidden
}

.help-body-service .service-hotline {
	padding: 14px 0;
	margin-bottom: 30px;
	font-size: 12px;
	text-align: center;
	border-top: 2px solid #fff;
	color: #333
}
.zhicwl-cyplsb img{
	border-radius: 2px;
}
.conter-rigfyos-hearder>i{
	margin-right: 5px;
}
.bgfenlei{
	background: url(/spv3/sp/static/images/hanyefenlei.png) no-repeat center center;
	margin-left: 16px;
	top: 2px;
	background-size: 18px;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.conter-leftdowm-div-nav{
	position: fixed;
	bottom: 0;
	/*height: 100px;*/
	width: 126px;
	background-color: #37424F;
}
.conter-leftdowm-div-nav li{
	margin-top: 0!important;
	height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
.conter-leftdowm-div-nav samp,
.conter-leftdowm-div-nav span{
	font-size: 12px!important;
}
.am-input-group-label {
    padding: 0 1em!important;
    background-color: unset!important;
    border: none!important;
}
.maxwidth{
	max-width: 100%;
}
.width200{
	max-width: 200px;
}
.width150{
	max-width: 150px;
}
.max-height-box{
	width: 200px!important;
	height: 200px!important;
}
.max-height-img{
	width: 100%;
	max-height: 100%;
}
.inline-b{
	display: inline-block!important;
}
